<main>
    <section>Section</section>
    <section>Section</section>
    <section>Section</section>
    <section>Section</section>
    <section>Section</section>
    <section>Section</section>

    <button id="buttonScroll">
        <img src="/svg/arrow.svg">
    </button>

</main>